
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-select:none;
  -webkit-app-region:none;
}
body{
  background-color: burlywood;
  display: flex;
  place-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;;
  font-size: 2rem;
}
.container{
  margin-top: 50px;
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.75);
  -moz-box-shadow : 7px 7px 5px 0px rgba(50,50,50,0.75);
  box-shadow: 7px 7px 5px 0px rgba(50,50,50,0.75);
}
.wrapper{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 10px;  
}
.screen{
  grid-column: 1/ -1;
  color: white;
  text-align:right;
  padding: 0.3rem;
  font-size: 3.2rem;
  overflow: hidden;
}
.btn{
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  color: #d8d6d6;
  border-radius: 40%;
  cursor: pointer;
  font-weight:bold;
}
.btn:hover{
  background-color: rgb(152, 152, 152);
}
.light-grey{
  background-color: lightgray;
  color: black;
}
.light-grey:hover{
  background-color: orange
}
.orange{
  background-color: orange;
}
.orange:hover{
  background-color: white;
  color: orange;
}
.zero{
  grid-column:1/ span 2 ;
  border-radius: 25px;
}